@{
    ViewData["Title"] = "Category";
}     
@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-confirmation2/dist/bootstrap-confirmation.min.js"></script>
    <script>
        $(document).ready(function(){
            $('[data-toggle=confirmation]').confirmation({rootSelector: '[data-toggle=confirmation]',
            // other options
            });
        });
    </script>
}
@model Posts
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand">Login App</a>
        <ul class="navbar-nav mr-auto">
            <a class="nav-link" style="color: black;" href="/forum">Dashboard</a>
            <a class="nav-link" style="color: black;" href="/forum/edit/@ViewBag.UserName">Profile</a>
        </ul>
        <a href="/logout" style="color: black;" class="nav-item active nav-link my-2 my-lg-0">Log Out</a>
    </nav>
    <h1>@ViewBag.Topic.Title</h1>
    <p>@ViewBag.Topic.User.UserName - @ViewBag.Topic.CreatedAt.ToString("MMM dd yyyy")@if(@ViewBag.Role == true){<a style="margin-left: 50px;" data-toggle="confirmation" data-btn-ok-label="Continue" data-btn-ok-class="btn-outline-success" data-btn-cancel-label="Cancel" data-btn-cancel-class="btn-outline-danger" data-title="Are you sure?" data-content="Pressing 'Continue' will delete @ViewBag.Topic.Title from the database." href="/forum/topic/@ViewBag.Topic.TopicsId/delete">Delete Topic</a>}</p</p>
    <p>@ViewBag.Topic.Topic</p>
    @foreach(Posts post in @ViewBag.Posts)
    {
        <p>@post.User.UserName - @post.CreatedAt.ToString("MMM dd yyyy") @if(@ViewBag.Role == true || @post.User.UserName == @ViewBag.UserName){<a style="margin-left: 50px;" data-toggle="confirmation" data-btn-ok-label="Continue" data-btn-ok-class="btn-outline-success" data-btn-cancel-label="Cancel" data-btn-cancel-class="btn-outline-danger" data-title="Are you sure?" data-content="Pressing 'Continue' will delete @post.User.UserName's post from the database." href="/forum/post/@post.PostsId/delete">Delete</a>}</p>
        <p>@post.Post</p>
    }
    <h3>Add a Post</h3>
    <form asp-action="CreatePost" asp-controller="Forum" method="post" asp-route_str="@ViewBag.Topic.TopicsId">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Post Content:</span>
            </div>
            <textarea asp-for="Post" class="form-control" placeholder="Enter Topic Subject Here"></textarea>
        </div>
        <span style="color: red" asp-validation-for="Post"></span>
        <button class="btn btn-outline-success" style="float:right;">Post</button>
    </form>
</div>